---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import LayoutBase from "./LayoutBase.astro";
---

<LayoutBase>
  <div class="w-screen h-screen max-w-screen max-h-screen flex flex-col">
    <Navbar />
    <div class="flex-grow overflow-hidden">
      <slot name="content" />
    </div>
  </div>
</LayoutBase>
