---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import LayoutBase from "./LayoutBase.astro";
---

<LayoutBase>
  <div class="w-screen h-screen absolute flex flex-col">
    <Navbar />
    <div class="flex-grow relative flex flex-col">
      <div class="flex-grow flex flex-col items-center justify-center">
        <slot name="content" />
      </div>
      <div class="absolute -z-10 opacity-70 size-full blur-xs">
        <slot name="background" class="" />
      </div>
    </div>
  </div>
</LayoutBase>
