---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import LayoutBase from "./LayoutBase.astro";
---

<LayoutBase>
  <Navbar class="z-10" />
  <div class="w-screen h-screen absolute -z-10">
    <slot />
  </div>
</LayoutBase>
