---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import LayoutBase from "./LayoutBase.astro";
---

<LayoutBase>
  <div class="w-screen h-screen absolute flex flex-col">
    <Navbar />
    <div class="flex-grow relative">
      <slot name="content" />
    </div>
  </div>
</LayoutBase>
